@import "tailwindcss";

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --font-display: "BBH Bartle", serif;

  --color-primary: #4f46e5;
  --color-primary-hover: #4338ca;

  --color-secondary: #10b981;

  --color-background: #f9fafb;
  --color-bg-dark: #252525;

  --color-surface: #cfc7bf;
  --color-surface-inverse: #615f5f;
  --color-surface-dark-accent: #615f5f;

  --color-surface-hover: #978583;

  --color-text-main: #252525;
  --color-text-muted: #6b7280;
  --color-text-inverse: #fefefe;

  --color-accent: #e4a499;
  --color-accent-hover: #e59688;
  --color-accent-blue: #8fd9fb;
  --color-offwhite: #fefefe;
}

html,
body {
  @apply bg-white dark:bg-bg-dark;

  color: var(--color-text-main);

  @media (prefers-color-scheme: dark) {
    color: var(--color-text-inverse);
    color-scheme: dark;

    --color-surface: #615f5f;
    --color-surface-inverse: #cfc7bf;
  }
}

/* Default typography */
h1 {
  @apply text-4xl md:text-5xl font-extrabold leading-tight mb-4;
}
h2 {
  @apply text-3xl md:text-4xl font-semibold leading-tight mb-3;
}
h3 {
  @apply text-2xl font-semibold leading-snug mb-2;
}
h4 {
  @apply text-xl font-medium mb-2;
}
h5 {
  @apply text-lg font-medium mb-1;
}
h6 {
  @apply text-sm font-medium uppercase tracking-wider mb-1;
}

p {
  @apply text-base leading-7 mb-4;
}

/* Lists */
ul,
ol {
  @apply ml-6 mb-4;
}
li {
  @apply mb-2 list-disc;
}

@utility dashboard-card {
  @apply bg-surface;
}
